[Desktop Entry]
Version=1.1
Type=Application
Name=QGIS docker 4.2
Icon=/home/regis/apps/QGIS4/qgis-icon.svg
Exec=/home/regis/apps/QGIS4/qgis_docker_4.2.sh
Terminal=true
Actions=
Categories=
StartupNotify=true
