[Desktop Entry]
Version=1.1
Type=Application
Name=QGIS docker 3.38
Icon=/home/regis/APPS/QGIS3/qgis3_ltr/share/icons/hicolor/32x32/apps/qgis.png
Exec=/home/regis/APPS/QGIS3/qgis_docker_3.38.sh
Terminal=true
Actions=
Categories=QGIS;X-GNOME-Other;
StartupNotify=true
